---
feature_name: Web Bluetooth / Read Characteristic Value Changed
chrome_version: 48
check_min_version: true
feature_id: 5264933985976320
icon_url: icon.png
index: index.html
---

{% include_relative _includes/intro.html %}

<p>This example copied from <a target="_blank" href="https://googlechrome.github.io/samples/web-bluetooth/discover-services-and-characteristics.html">Google Web Bluetooth Example </a>
and slightly modified for <a target="_blank" href="https://tag.ruuvi.com/">RuuviTag </a> <a target="_blank" href="https://lab.ruuvi.com/acc-logger/">acc logger </a>tutorial. </p>

<button id="readBatteryLevel">Read Bluetooth Device's Battery Level</button>
<button id="startNotifications" disabled>Start Notifications</button>
<button id="stopNotifications" disabled>Stop Notifications</button>
<button id="reset">Reset Bluetooth Device</button>

{% include output_helper.html %}

{% include js_snippet.html filename='read-characteristic-value-changed.js' %}

<script>
  document.querySelector('#readBatteryLevel').addEventListener('click', function() {
    if (isWebBluetoothEnabled()) {
      onReadBatteryLevelButtonClick();
    }
  });

  document.querySelector('#startNotifications').addEventListener('click', function(event) {
    if (isWebBluetoothEnabled()) {
      onStartNotificationsButtonClick();
    }
  });

  document.querySelector('#stopNotifications').addEventListener('click', function(event) {
    if (isWebBluetoothEnabled()) {
      onStopNotificationsButtonClick();
    }
  });

  document.querySelector('#reset').addEventListener('click', function(event) {
    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      onResetButtonClick();
    }
  });
</script>

{% include_relative _includes/utils.html %}
